$mediumZoomZIndex = 10000
$readingBgColor = transparent
$readingZIndex = 1000
$readingSize = 3px
$readingProgressColor = $accentColor
$readingProgressImage = linear-gradient(-120deg, #E50743 0%, #F9870F 15%, #E8ED30 30%, #3FA62E 45%, #3BB4D7 60%, #2F4D9E 75%, #71378A 80%)

.home .features {
    justify-content: space-evenly;
}


.navbar .links {
    right: 4.5rem;
}
.sidebar-sub-headers a.sidebar-link {
    transition: all .3s ease-in-out;
}
.sidebar-sub-headers a.sidebar-link.active  {
    background-image: linear-gradient(to left, #87CEFA 0%, #fff 100%);
    font-size: 1.1em;
}

.viewer-toolbar > ul > li {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    float: left;
    height: 32px;
    overflow: hidden;
    transition: background-color 0.15s;
    width: 32px;
}
.viewer-toolbar > ul > li + li {
    margin-left: 5px;
}
.viewer-prev,.viewer-next {
    display: none;
}
.viewer-zoom-in::before {
    background-position: 4px 3px;
    content: "Zoom In";
}
.viewer-zoom-out::before {
    background-position: -16px 3px;
    content: "Zoom Out";
}
.viewer-one-to-one::before {
    background-position: -36px 3px;
    content: "One to One";
}
.viewer-reset::before {
    background-position: -56px 3px;
    content: "Reset";
}
.viewer-toolbar > ul > .viewer-large {
    height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 30px;
}
.viewer-rotate-left::before {
    background-position: -136px 3px;
    content: "Rotate Left";
}
.viewer-rotate-right::before {
    background-position: -156px 3px;
    content: "Rotate Right";
}